.about{
  padding: 150px 8% 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img{
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.about-text h3{
  color: #ee820f;
  font-size: 30px;
  line-height: 1;
}
.about-text p{
  color: black;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  margin-top: 10px;
}
#about-btn{
  width: 150px;
  height: 35px;
  background: white;
  border: 2px solid #388b6f;
  color: #388b6f;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
#about-btn:hover{
  background: #ef5619;
  color: white;
}
@media (max-width:920px){
  .about{
      grid-template-columns: 1fr;
  }
  .about-img{
      text-align: center;
      order: 2;
  }
  .about-img img{
      width: 100%;
      height: auto;
      max-width: 100%;
  }
}