* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 100px;
}

.profile-card img {
  margin-bottom: 10px;
}

.profile-card h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.profile-card ul {
  list-style: none;
  margin-bottom: 10px;
}

.profile-card ul li {
  font-size: 14px;
  color: #999;
  margin-bottom: 5px;
}

.profile-card p:last-child {
  font-size: 16px;
}
@media (max-width: 600px) {
  .profile-card {
    max-width: 300px;
  }
}

.mh img
{
height: 200px;
}